:root {
  --center: {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  --toolbar-theme: {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid green;
  }
}
:root {
  --toolbar-theme: {
    background-color: rebeccapurple;
    color: white;
    border: 1px solid green;
  }
}

.item {
  @apply --center;
  @apply --toolbar-theme;
}
